/* Body style to eliminate any white space */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Navbar */
.navbar {
	padding-bottom: 0;
    margin-bottom: 0;
    background-color: white;

}

/* Navbar toggle styling */
.navbar-toggle {
    background-color: white;
}

.navbar-toggle:hover {
    background-color: beige !important;
}
.navbar-toggle:focus {
    background-color: white !important;
}

/* Navbar brand/logo styling */
.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20pt;
    font-weight: bold;
    color: grey !important;
}

.navbar-brand:hover {
    text-shadow: 0.188rem 0.188rem beige;
}

/* Navbar contents list styling */
.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.navbar-nav a:hover {
    font-weight: bold;
}

/* Carousel view styling */
.carousel-inner .item img{
	width: 100%;
	height: 650px;
	object-fit: cover;	
}

/* Carousel caption styling, including increased visibility of font using the @supports feature */
.carousel-caption h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 58pt;
	text-shadow: 4px 4px #000000;
	outline-color: orange;
	padding-bottom: 230px;
	position: relative;
}

@supports (-webkit-text-stroke: 1px black) {
  .carousel-caption h1 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-fill-color: white;
  }
}

/* 'About The Burren' section - styling for heading and text */
.about {
	font-family: 'Fredericka the Great', cursive;
	font-size: 26pt;
	color: green;
	margin-top: 3.125rem;
	margin-bottom: 1.25rem;
}

@supports (-webkit-text-stroke: 1px black) {
  .about {
    -webkit-text-stroke: 1px rgba(25, 51, 0, 0.5);
    -webkit-text-fill-color: green;
  }
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: justify;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
    margin-bottom: 1.875rem;
}

/* 'Things To Do' section -styling for heading and text */
.things {
	font-family: 'Fredericka the Great', cursive;
	font-size: 26pt;
    color: green;
    margin-bottom: 1.25rem;
}

.things-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: justify;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
    margin-bottom: 1.875rem;
}

@supports (-webkit-text-stroke: 1px black) {
  .things {
    -webkit-text-stroke: 1px rgba(25, 51, 0, 0.5);
    -webkit-text-fill-color: green;
  }
}

/* Styling related to the 3 mid-page images and their headings */
.places {
	padding-bottom: 1.25rem;
}

.places h2 {
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 0.313rem;
}

.explore img {
	width: 100%;
	margin-top: -1rem;
	margin-bottom: 1.875rem;
}

.eat img {
	width: 100%;
	margin-top: -1rem;
	margin-bottom: 1.875 rem;
}

.enjoy img {
	width: 100%;
	margin-top: -1rem;
	margin-bottom: 1.875 rem;
}

.one {
	animation-delay: none;
}

.two {
	animation-delay: 800ms;
}

.three {
	animation-delay: 1600ms;
}
.fadein {
	animation-name: fadein;
	animation-fill-mode: both;
	animation-duration: 1200ms;
	animation-timing-function: ease-in-out;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


/* Styling for buttons x 3 linked to Google Maps */
.buttonsx3 {    
    font-family: 'Fredericka the Great', cursive;
    background-color: grey;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 2.5rem;
    border: none;
}


.buttonsx3:hover{
    background-color: #c2b280;
    margin-right: 1.25rem;
}

.buttonsrow {
    display: flex;
    justify-content: space-between;

}

/* Styling for Google Maps */
.map-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    margin: 1.875rem;
    text-align: left;
}

div#map {
    min-height: 360px;
    margin-top: 2.5rem;
}

/* Weather section layout styling */

.weather-items h3 {
    margin-top: 2.5rem;
    font-family: 'Fredericka the Great', cursive;
    color: green;
    margin-top: 3.125rem;
}

.weather-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: justify;
    margin-bottom: 2.5rem;
}

@supports (-webkit-text-stroke: 1px black) {
  .weather-items h3 {
    -webkit-text-stroke: 1px rgba(25, 51, 0, 0.5);
    -webkit-text-fill-color: green;
  }
}

.weather {
    margin-top: 3.75rem;
}
/* Contact Form styling */
.contact-us h3 {
    font-family: 'Fredericka the Great', cursive;
    color: green;
}

@supports (-webkit-text-stroke: 1px black) {
  .contact-us h3 {
    -webkit-text-stroke: 1px rgba(25, 51, 0, 0.5);
    -webkit-text-fill-color: green;
  }
}

form {
    margin-bottom: 1.875rem;
}
/* Footer styling */
footer {
	background-color: grey;
}

/* Social media icons styling */
.socials {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16pt;
	padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.socials i {
    color: white;
}

.socials i:hover {
    color: #c2c2c2;
}

/* Copyright text styling */
.copyright {
    font-family: 'Open-Sans', sans-serif;
    color: white;
}

/* Media Queries */
@media (min-device-width: 30rem) {
      .weather {
          text-align: center;
      }
  }