.navbar {
	padding-bottom: 0;
    margin-bottom: 0;
    background-color: white;

}

.navbar-toggle {
    background-color: white;
}

.navbar-toggle:hover {
    background-color: beige !important;
}
.navbar-toggle:focus {
    background-color: white !important;
}


.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20pt;
    font-weight: bold;
    color: grey !important;
}

.navbar-brand:hover {
    text-shadow: 2px 2px beige;
}
.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.navbar-nav a:hover {
    font-weight: bold;
}

.carousel-inner .item img{
	width: 100%;
	height: 650px;
	object-fit: cover;	
}


.carousel-caption h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 58pt;
	text-shadow: 4px 4px #000000;
	outline-color: orange;
	padding-bottom: 230px;
	position: relative;

}

@supports (-webkit-text-stroke: 1px black) {
  .carousel-caption h1 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-fill-color: white;
  }
}

.about {
	font-family: 'Fredericka the Great', cursive;
	font-size: 26pt;
	color: green;
	margin-top: 50px;
	margin-bottom: 20px;
}

.about-text {
	margin-bottom: 40px;
}

.places {
	padding-bottom: 20px;
}

.places h2 {
	font-family: 'Fredericka the Great', cursive;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px;
}

.explore img {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 30px;
}

.eat img {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 30px;
}

.enjoy img {
	width: 100%;
	margin-top: -10px;
	margin-bottom: 30px;
}

.one {
	animation-delay: none;
}

.two {
	animation-delay: 800ms;
}

.three {
	animation-delay: 1600ms;
}
.fadein {
	animation-name: fadein;
	animation-fill-mode: both;
	animation-duration: 1200ms;
	animation-timing-function: ease-in-out;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.buttonsx3 {    
    font-family: 'Fredericka the Great', cursive;
    background-color: grey;
    margin-bottom: 40px;
  
    border: none;
}


.buttonsx3:hover{
    background-color: fuchsia;
}

.buttonsrow {
    display: flex;
    justify-content: space-between;
}

/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

footer {
	background-color: grey;
}

.socials {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16pt;
	padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    font-family: 'Open-Sans', sans-serif;
    color: white;
}
