.navbar {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-expand-md {
    align-items: right;
}

li {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
}

li a {
    color: black;
    font-size: 12pt;
    text-align: left;
    text-decoration: none;
    margin-top: -28px;
}

li a:hover {
    color: purple;
    text-decoration: none;
}

.navbar-toggle {
    background-color: beige;
    border-color: grey;
}

.carousel-inner .item img {
    height: 650px;
    width: 100%;
    object-fit: cover;
}

.carousel-caption h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 58pt;
    text-shadow: 4px 4px #000000;
    padding-bottom: 230px;
    position: relative;
}

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: green;
}

.about {
    font-family: 'Fredericka the Great', cursive;
    font-size: 26pt;
    color: green;
    margin-top: 50px;
    margin-bottom: 20px
}

.about-text {
    margin-bottom: 20px;
}

.places {
    padding-bottom: 20px;
}

.places h2 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

.explore img {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.eat img {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.enjoy img {
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}